/* Order Detail Component */
.track-Btn > button.slds-button.slds-button_neutral {
    background-color : #f24090;
    font-size: 19px;
    color: white;
    font-family: serif;
    height: auto;
    min-height: 2.5rem;
}

.nav-btn > button.slds-button{
    color: inherit;
}

.text-color-pink{
    color: #f24090;
}

.text-color-darkgray{
    color : darkgray;
}

.text-line-through{
    text-decoration-line: line-through;
}

.white-space-pre-wrap{
    white-space:pre-wrap;
}

.realted-list-title-link{
    color:inherit; 
    text-decoration: none;
}

.display-flex{
    display:flex;
}

.scroll-order-history{
    max-height: 400px;
    overflow: auto;
}

.scroll-order-history > :first-child {
    margin-top: unset;
}

.label-fixed-width{
    width: 6.5rem;
}

.top-margin-min-4px{
    margin-top: -4px;
}

.search-tool-button > .slds-button{
    width: 7rem;
}

.order-number-link{
    border-bottom: 1px dotted;
    cursor: pointer;
    color: var(--lwc-brandTextLink,rgb(0, 109, 204));
    text-decoration: none;
    transition: color .1s linear;
    font-size: var(--lwc-fontSize4,0.875rem);
    font-weight: inherit;
}

.buttonMenuIconShift *.slds-button{
	display: inline-block !important;
}

.buttonMenuIconShift *.slds-button > lightning-primitive-icon {
	float: left;
}

.stateless-order-link{
    text-decoration: none;
    color: inherit;
    cursor: none;
}

/* Cart Component */
.thumbnail{
    height: 100px !important;
    cursor: pointer;
}

.item-detail-carousel .slds-carousel__image>img {
    width: 50% !important;
}

.item-detail-carousel > .slds-carousel {
    text-align: center !important;
}