
.slds-datepicker{
    top: 2rem !important;
}

.slds-dropdown {
min-width: var(--lwc-sizeXxSmall,6rem);
max-width: 24rem !important;
}


    .slds-button__icon_x-small, .slds-button__icon--x-small {
      width: var(--lwc-squareIconXSmallContent,0.5rem);
      height: var(--lwc-squareIconXSmallContent,0.5rem);
      display: none;
  }
  .slds-button_icon-more, .slds-button--icon-more {
      width: auto;
      line-height: var(--lwc-lineHeightButton,1.875rem);
      padding: 0 var(--lwc-spacingXSmall,0.5rem);
      background-color: transparent;
      border-color: transparent;
      color: var(--lwc-colorTextIconDefault,rgb(112, 110, 107));
  }
  .slds-button:focus {
    outline: 0;
    box-shadow: var(--lwc-borderWidthThin,1px) solid transparent;
  }
  
  
  /*
  .slds-icon-text-default {
    fill: #319B8D;
  }
  */
  
  .forceStyle .slds-form .form-element__label, .forceStyle .slds-form .slds-form-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* display: none!important; */
    opacity: 0;
  }
  
  /*Primary Color Start*/
  
  .slds-icon-text-success {
      fill: #319B8D;   /*change here to chanhe the color*/
      padding-bottom: 2px;
  }
  
  .slds-button__icon {
      width: var(--lwc-squareIconMediumContentAlt,0.875rem);
      height: var(--lwc-squareIconMediumContentAlt,0.875rem);
      fill: #319B8D;    /*change here to chanhe the color*/
  }
  
  .test-btn{
      color: #319B8D;
      border-color: #319B8D;
  }
  
  .save-btn{
      color: #ecebea;
      border: none;
      background-color: #319B8D;
  }
  
  .slds-page-header__control a {
      color: #319B8D;
      font-size: 1rem;
   }
   
  .slds-page-header__control a:hover {
      color: #319B8D;
      text-decoration:  none;
  }
  
  .btn-color{
    background-color: #319B8D;
    border-color: #319B8D;
  }
  
  .link-button {
    color: #319B8D;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.875rem;
    -webkit-appearance: none;
    white-space: normal;
    user-select: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
  }
  
   .slds-button_brand {
      border-radius: 0;
      background-color: #319B8D !important;
      border-color: #319B8D;
    }
  
      .slds-button_brand:hover {
      border-radius: 0;
      background-color: #319B8D;
      border-color: #319B8D;
    }
  
     .slds-button_outline-brand {
      border-color: #319B8D;
      color: #319B8D;
      background-color: transparent;
    }
  
    .slds-button_outline-brand:hover {
      border-color: #319B8D;
      color: #319B8D;
      background-color: transparent;
    }
  
    .connection-status.successful {
      color: #319B8D;
    }
  
    .text-link {
      color: #319B8D;
    }
  
    .text-link:hover {
      color: #319B8D;
    }
    .text-link i {
      color: #319B8D;
    }
  
    .button-green:hover {
      background-color: #319B8D;
    }
  
  .newmap-btn {
    color: #319B8D !important;
    font-size: 16px;
  }
  
  /*Primary Color End*/
  
  
  
  /*Secondary Color Start*/
  
  .cancel-btn{
      color: #7C878B;
      border: none;
      background-color: transparent;
  }
  
  .slds-button_brand[disabled], .slds-button_brand:disabled, .slds-button--brand[disabled], .slds-button--brand:disabled {
      background: var(--lwc-brandDisabled,rgb(201, 199, 197)) !important;
      border-color: var(--lwc-brandDisabled,rgb(201, 199, 197));
      color: var(--lwc-colorTextButtonBrandDisabled,rgb(255, 255, 255));
  }
  
  .text-grey {
      color: #7C878B;
      margin-top: 5px;
    }
  
  .slds-button_neutral,
    .slds-button_neutral:hover {
      border: none;
      color: #7C878B;
      background-color: transparent;
      box-shadow: none;
    }
  
    .icon-gray {
    fill: #7C878B !important;
    color : #7C878B !important;
  }
  
  /*Secondary Color End*/
  
  
  /*Third Color Start*/
  
     .slds-table thead th,
      .slds-table tbody td {
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        color: #1F2223;
        border-color: #E4E7EB;
      }
    
      .slds-table:not(.slds-no-row-hover) tbody tr:hover,
      .slds-table:not(.slds-no-row-hover) tbody tr:focus {
        background-color: #fff;
      }
    
      .sort-icon{
        color: black;
      }
    
     .navigationOther{
      min-width: 1.5rem;
      font-size: 15px;
      color: black;
    }
  
  .btnSelected{
      color: green !important;
    }
    
      .button{
      user-select: none;
      text-align: center;
      display: block;
      text-decoration: none;
      width: 2rem;
      color: black;
      cursor: pointer;
    }
  
    .btnDisabled{
      pointer-events: none;
      color: darkgray !important;
      border-color: darkgray !important;
    }
    
     .boxbodycustom{
      background-color: inherit;
      border: navajowhite;
    }
    
      .SortableHeader{
      color: #000;
      display: flex;
      margin-top: 4px;
      font-size: 16px;
      text-decoration: none;
      margin-left: 1%;
      font: caption;
      margin-top: 6px;
      font-weight: 600;
    }
    
     .tableHeader{
      background-color: white !important;
    }
    
    .slds-modal__footer {
      border: none;
      background-color: #F8F8F8;
    }
    
     .slds-input {
      border-radius: 0px !important;
      border-top-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-radius: inherit !important;
      border-bottom-color: #92A0AD !important;
    }
    
     .slds-input:focus,
    .slds-input:active {
      box-shadow: 0 0 0px #92A0AD !important;
      border-color: #92A0AD;
    }
    
    .connection-status.unsuccessful {
      color: #EB4238;
    }
    
   .slds-tabs_default__item.slds-active:after,
    .slds-tabs_default__item.slds-is-active:after,
    .slds-tabs--default__item.slds-active:after,
    .slds-tabs--default__item.slds-is-active:after,
    .slds-tabs_default__item.slds-active:after,
    .slds-tabs_default__item.slds-is-active:after,
    .slds-tabs_default__item:hover:after,
    .slds-tabs--default__item:hover:after,
    .slds-tabs_default__item:hover:after {
      background-color: #FFAB00;
    }
  
    .slds-tabs_default,
    .slds-modal__header,
    .slds-modal__content {
      background-color: #F8F8F8 !important;
    }
    .slds-form.slds-box {
      background-color: #fff;
    }
  
     .editable-div .slds-form-element__static.edit {
      background-color: #fff;
      border-color: #FFAB00;
      padding: 0.25rem 0.5rem;
    }
  
     .field-select {
      background-color: #F8F8F8;
      padding: 0.5rem 1rem;
      width: 100%;
      display: block;
      margin-top: 0.25rem;
    }
  
     .heading-object .slds-select {
      border-radius: 2px;
      border-color: #C9CFD6;
      font-weight: normal;
      color: #7C878B;
      font-size: 14px;
    }
  
     .row-object .slds-select {
      border-color: transparent;
      border-bottom-color: #92A0AD;
      background-color: transparent;
      font-weight: normal;
      border-radius: 0px;
    }
  
   .pagination span {
      background-color: #ffffff;
      box-shadow: 0 20px 30px -19px rgba(0, 0, 0, 0.21);
      display: inline-block;
      font-size: 14px;
      height: 30px;
      line-height: 32px;
      margin-left: 10px;
      min-width: 30px;
      text-align: center;
    }
    .button-green {
      background-color: #319B8D;
      color: #ffffff;
      padding: 12px 20px;
      margin-right: 20px;
    }
      .box-container {
      background-color: #ffffff;
      border-radius: 2px;
      box-sizing: border-box;
      margin-bottom: 30px;
      padding: 1.5rem;
      width: calc(100% - 0);
    }
  
      .input-container select,
    .input-container input[type="text"] {
      border: .5px solid transparent;
      border-bottom-color: #8d9dad;
      border-radius: 0;
      font-size: .8rem;
      -webkit-appearance: none;
      appearance: none;
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -ms-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      padding: .5rem .5rem;
      outline: none;
      background-color: transparent;
    }
  
     .p-sync-container {
        width: calc(100% - 30px);
        padding: 15px;
        background-color: #F8F8F8;
    }
  
    .nav-tabs-section {
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #778899;
    }
  
    .p-nav-link {
      display: flex;
      text-align: center;
      padding: 0.3rem 1rem;
      text-decoration: none;
      color: #656e71;
      background: transparent;
      transition: all 0.3s linear;
      box-shadow: none;
      border-bottom: 3px solid transparent;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 17px;
    }
  
    .p-nav-link:hover,
    .p-nav-link:focus,
    .p-nav-link.active {
      background: transparent;
      color: #111313;
      border-bottom-color: #ffab00;
    }
  
    .schedule-content {
      background-color: #ffffff;
      padding: 1.5rem 1.5rem 3rem 1.5rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.005),
      0 20px 30px -19px rgba(0, 0, 0, 0.21);
      border-radius: 2px;
      box-sizing: border-box;
    }
  
    .p-toggle-switch input:checked + .slider {
      background-color: #ffbb33;
    }
  
    .mapping-data-table th,
    .mapping-data-table td {
      padding: 0px 25px;
      width: calc(100% - 20px);
      border-bottom: solid 1px #E4E7EB;
      color: #1F2223;
      font-size: 13px;
      font-weight: lighter;
      height: 45px;
      text-align: center;
    }
    .mapping-data-table select,
    .mapping-data-table input[type="text"] {
      background-color: #ffffff;
      border-radius: 0px;
      border: solid 1px #C9CFD6;
      font-size: .8rem;
      outline: none;
      padding: .5rem .5rem;
      vertical-align: middle;
      width: calc(100% - 30px);
      margin-left: 15px;
    }
  
     .mapping-data-table [type="checkbox"]:not(:checked) + label:before {
      border: 1px solid #C9CFD6;
      background-color: #ffffff;
    }
      .mapping-data-table [type="checkbox"]:checked + label:before  {
      background-color: #FFAB00;
      border: 1px solid #FFAB00;
    }
  
      .mapping-data-table [type="checkbox"]:not(:checked) + label:after,
    .mapping-data-table [type="checkbox"]:checked + label:after {
      content: '\2713\0020';
      position: absolute;
      top: 0.2em;
      left: 0.20em;
      font-size: 1em;
      line-height: 0.8;
      color: #ffffff;
      transition: all .2s;
      font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
    }
  
    .mapping-data-table [type="checkbox"]:disabled:not(:checked) + label:before,
    .mapping-data-table [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #FFAB00;
      background-color: #FFAB00;
    }
    .mapping-data-table [type="checkbox"]:disabled:checked + label:after {
      color: #999;
    }
    .mapping-data-table [type="checkbox"]:disabled + label {
      color: #aaa;
    }
    .mapping-data-table [type="checkbox"]:checked:focus + label:before,
    .mapping-data-table [type="checkbox"]:not(:checked):focus + label:before {
      border: 1px solid #FFAB00;
    }
  
    .test-mapping-data {
      color: #1F2223;
      font-size: 1rem;
      margin-top: 25px;
      margin-left: -3.4rem;
  
    }
  
    .p-toggle-switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #c9cfd6;
      transition: all .3s linear;
      border-radius: 40px;
    }
  
    .p-toggle-switch .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: #ffffff;
      transition: all .3s linear;
      border-radius: 50%;
    }
  
    .slds-input-has-icon_right .slds-input, .slds-input-has-icon_right .slds-input_bare, .slds-input-has-icon_right .slds-input--bare, .slds-input-has-icon--right .slds-input, .slds-input-has-icon--right .slds-input_bare, .slds-input-has-icon--right .slds-input--bare {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-color: black;
    }
    .slds-table[punchh_sync-scheduleModal_scheduleModal] tbody[punchh_sync-scheduleModal_scheduleModal] td[punchh_sync-scheduleModal_scheduleModal], .slds-table[punchh_sync-scheduleModal_scheduleModal] thead[punchh_sync-scheduleModal_scheduleModal] th[punchh_sync-scheduleModal_scheduleModal] {
       padding: none;
      font-size: 1rem;
      color: #1f2223;
      border-color: #e4e7eb;
  }
  .slds-icon-action-approval {
    background-color:  #ffbb33;
  }
  
  .slds-table[punchh_sync-scheduleModal_scheduleModal][punchh_sync-scheduleModal_scheduleModal] tbody[punchh_sync-scheduleModal_scheduleModal][punchh_sync-scheduleModal_scheduleModal] td[punchh_sync-scheduleModal_scheduleModal][punchh_sync-scheduleModal_scheduleModal], .slds-table[punchh_sync-scheduleModal_scheduleModal][punchh_sync-scheduleModal_scheduleModal] thead[punchh_sync-scheduleModal_scheduleModal][punchh_sync-scheduleModal_scheduleModal] th[punchh_sync-scheduleModal_scheduleModal][punchh_sync-scheduleModal_scheduleModal] {
    padding: none;
    font-size: 1rem;
    color: #1f2223;
    border-color: #F8F8F8;
    border-bottom: none;
  }
  
  .input-schedule-name {
    font-size: 1.5rem;
    border: 2px dashed transparent; 
    display: inline-block; 
    background: #F8F8F8; 
    background-color: white;
    width: 24rem;
  }
  

  
  /*Third Color End */
  

lightning-menu-item.slds-dropdown__item.delete-icon:hover {
  color: #D42015;
}

lightning-menu-item.delete-icon:hover {
  color: #D42015;
}

lightning-menu-item.slds-dropdown__item.delete-icon {
  color: #D42015;
}