.THIS.slds-modal {
    width: var(--modalWidth);
    left: var(--modalLeft);
}
.THIS.slds-modal:focus {
    outline: none !important;
}
.THIS .slds-modal__content {
    min-height: var(--modalMinHeight);
}
.THIS .slds-modal__container{
    width: var(--modalContainerWidth);
}