<template>

    <div  if:true={itemDetail} class="slds-theme_default">
        
         <lightning-layout multiple-rows class="white-space-pre-wrap">
             <lightning-layout-item size="6">
               <!--   <lightning-layout multiple-rows class="white-space-pre-wrap">
                    <template for:each={itemDetail.thumbnailLinks} for:item="tl">
                        <lightning-layout-item size="6" key={tl}>
                            <div>
                                <img src={tl}>
                            </div>
                        </lightning-layout-item>
                    </template>
                </lightning-layout> -->
                
                    <lightning-carousel class="item-detail-carousel">
                        <template for:each={itemDetail.thumbnailLinks} for:item="tl">
                            <lightning-carousel-image key={tl} 
                            src ={tl}
                            header = "First Image"
                            description = "First Image description."
                            alternative-text = "First Image accessible description."
                            href ={tl}  >
                            </lightning-carousel-image>
                         </template>
                    </lightning-carousel>
                    
            </lightning-layout-item>
            <lightning-layout-item size="6">
                <div style="margin-top:100px;">
                    <div class="slds-text-heading_medium slds-var-p-left_medium slds-var-m-top_xx-large">
                        {itemDetail.itemName}
                    </div>
                </div>
                <div >
                    <div class="slds-var-p-left_medium slds-var-m-top_xx-large">
                        <span class="text-color-darkgray">Family : </span>{itemDetail.family}
                    </div>
                </div>
                <div>
                    <div class="slds-text-heading_medium slds-var-p-left_medium slds-var-m-top_xx-large">
                        {itemDetail.price}
                    </div>
                </div>
                <div>
                    <div class="slds-var-p-left_medium slds-var-m-top_xx-large">
                        <span class="text-color-darkgray">Item Number : </span>{itemDetail.itemNumber}
                    </div>
                </div>
                <div>
                    <div class="slds-var-p-left_medium slds-var-m-top_xx-large">
                        <span class="text-color-darkgray">Size : </span>{itemDetail.size}
                    </div>
                </div>
                <div>
                    <div class="slds-var-p-left_medium slds-var-m-top_xx-large">
                        <span class="text-color-darkgray">Quantity : </span>{itemDetail.quantity}
                    </div>
                </div>
                <div>
                    <div class="slds-text-heading_medium slds-var-p-left_medium slds-var-m-top_xx-large">
                        Description
                    </div>
                    <div class="slds-var-p-left_medium slds-var-m-top_xx-large">
                        Structured and chic, this style wears two ways. The jewelry-like chain strap goes from shoulder to crossbody with ease. In our signature V-Quilt finish with V Monogram Hardware.
                    </div>
                    <div class="slds-var-p-left_medium slds-var-m-top_xx-large">
                        <ol class="slds-list_ordered">
                            <li><div class="slds-var-p-left_medium ">Shoulder-to-crossbody convertible chain strap</div></li>
                            <li><div class="slds-var-p-left_medium ">Double the strap to wear as a shoulder bag</div></li>
                            <li><div class="slds-var-p-left_medium ">Single strap styling wears as a crossbody</div></li>
                            <li><div class="slds-var-p-left_medium ">Fits: phone, wallet, keys and everyday essentials</div></li>
                            <li><div class="slds-var-p-left_medium ">1 interior pocket with mirror</div></li>
                            <li><div class="slds-var-p-left_medium ">1 exterior slip pocket</div></li>
                            <li><div class="slds-var-p-left_medium ">Measures: 3" L x 2.8" D x 6.7" H</div></li>
                            <li><div class="slds-var-p-left_medium ">Strap drop: 23” with a 12” drop when chain is doubled</div></li>
                            <li><div class="slds-var-p-left_medium ">Imported polyurethane</div></li>
                        </ol>
                    </div>
                </div>
            </lightning-layout-item>
        </lightning-layout>
        <div class="slds-border_top"></div>
        

       
    </div>

</template>