.THIS .slds-form-element__control .slds-radio{
    margin-bottom: 0.5rem !important;
}

.THIS .inlineTitleSupport{
    text-align: center;
    border-bottom: 1px solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

.THIS .labelSupport{
    margin-top: 2%;
    float: left;
    text-align: right;
    padding-right: var(--lwc-spacingLarge,1.5rem);
    width: 35%;
    font-size: var(--lwc-fontSizeMedium,0.8125rem);
    color: var(--lwc-colorTextWeak,rgb(62, 62, 60));
}

.THIS .radioSupport{
    padding-left: 14rem !important;
}

.THIS .inlineFooterSupport{
    text-align: center;
    padding: var(--lwc-spacingSmall,0.75rem) var(--lwc-spacingMedium,1rem);
    margin-top: 2%;
}

.THIS .fieldSetSupport{
    height: 280px;
}