.THIS.container{
    padding-bottom: 2%;
    width:100%;
    height:100%;
    background-color:#ecedeb;
}

.THIS .bread-crumb{
    width:100%;
    height:10%;
    background-color:#ecedeb;
    display: flex;
    padding: 1%;
    font-size: 20px; 
    font-weight:bold;
}

.THIS .current-folder-container{
    padding: 1%;
    width:100%;
    height:40%;
    background-color:#ecedeb;
    display: flex;
}

.THIS .current-folder-content{
    margin:1% 1% 1% 1%;
    width:60%;
    height: 275px;
    overflow:auto;
    padding: 1%;
    border: 1px solid black;
    background: white;
}

.THIS .container-small{
    margin:1% 1% 1% 1%;
    width:40%;
    height: 275px;
    text-align: center;
    background: white;
    border: 1px solid black;
    text-align: center;
}

.THIS .CreateFolderTextInput{
    width: 70%;
    margin-left: 13%;
    margin-top: 5%;
}

.THIS .CreateFolderButton{
    width: 30%;
    height: 15%;
    margin: 2%;
    margin-top: 5%;
}