.THIS .Header{
    height:30px; 
    width: 200px;
    background-color:rgb(0, 112, 210);
    color: white;
    text-align: center;
    border-left: 5px solid white;
}

.THIS .Data{
    height : var(--kanbanDivHeight);
    min-width: 250px;
    overflow: scroll;
    margin: 1%;
}

.THIS .Card{
    margin: 1%;
}

.THIS th:first-child {
    border-left: none;
    border-radius: 15rem 0 0 15rem;
}
.THIS th:last-child {
    border-radius: 0 15rem 15rem 0;
}

.THIS th:not(:first-child):before {
    
}