.THIS .nameDiv{
    margin: 0%;
}

.THIS .nameDiv:hover{
    background-color: lightgray;
}

.THIS .pill{
    width: 100%;
}
.THIS .searchInputBox > .slds-form-element__label {
    display:none !important;
}

.THIS .dropDown{
    position: absolute;
    width: -webkit-fill-available;
    top: 100%;
    background: white;
    z-index: 1000;
}

.THIS .focusin{
    background-color: lightgray;
}

.THIS .slds-pill__action{
    height: 30px;
}

.THIS .slds-pill-container{
    height: 36px;
}

.THIS .slds-box{
    padding: 0px;
}