<template>

    <!-- Spinner For Stateless view -->
    <template if:true={stateless}>
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
        </template>
    </template>

    <!-- Stateless -->
    <div if:true={stateless} class="slds-theme_default slds-var-p-top_large">

        <!-- Header -->
        <lightning-layout vertical-align="center" multiple-rows>
            <lightning-layout-item size="12">
                <lightning-formatted-text value="Cart"
                    class="slds-var-p-around_medium slds-text-heading_medium"></lightning-formatted-text>
            </lightning-layout-item>
        </lightning-layout>

        <!-- Search Options -->
        <lightning-layout vertical-align="center" multiple-rows>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="text" label="Email" value={emailId} data-input="emailId" onchange={handleInputValue}
                    disabled={itemIdSelected}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small" style="padding-top: 2rem;">
                <input type="radio" value="Email" checked={emailSelected} onclick={selectFilter} />
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="text" label="Item #" value={itemId} data-input="itemId" onchange={handleInputValue}
                    disabled={emailSelected}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small" style="padding-top: 2rem;">
                <input type="radio" value="ItemId" checked={itemIdSelected} onclick={selectFilter} />
            </lightning-layout-item>

            <lightning-layout-item size="2" padding="around-small" style="padding-top: 2rem;">
                <lightning-button class="search-tool-button" label="Go" variant="neutral" onclick={searchItems} disabled={disableGoButton}>
                </lightning-button>
            </lightning-layout-item>

        </lightning-layout>
    </div>

    <!-- Combined Markup -->
    <lightning-card variant={dynamicStyles.ltngCardVariant} icon-name={dynamicStyles.ltngCardIconName}>

        <div if:false={stateless} slot="title"><b><a class="realted-list-title-link">Cart </a>({recordCount})</b></div>

        <template if:true={displaySearchBar}>
            <!-- Search and Sort Section Common-->
            <lightning-layout class="slds-var-m-left_medium slds-var-m-top_x-large slds-var-m-bottom_x-large slds-p-right--small" multiple-rows>
                <lightning-layout-item size="12">
                    <lightning-input onchange={filterItems} value={filterText} variant="label-hidden"
                        placeholder="Search item" type="search"></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6">
                    <div class="slds-var-m-left_x-small buttonMenuIconShift">
                        <lightning-button-menu label={filterLabel} alternative-text="Show menu" icon-name="utility:filter" icon-size="large" menu-alignment="left">
                            <lightning-menu-subheader label="Filter By"></lightning-menu-subheader>
                            <template if:true={filterOptions} for:each={filterOptions} for:item="field">
                                <lightning-menu-item key={field.value} label={field.label} value={field.value}
                                    checked={field.isFiltered} onclick={applyFilter}></lightning-menu-item>
                            </template>
                        </lightning-button-menu>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="6" class="slds-text-align--right">
                    <div class="slds-var-m-left_x-small buttonMenuIconShift">
                        <lightning-button-menu label={sortLabel} alternative-text="Show menu" icon-name={sortIcon} icon-size="large" menu-alignment="right">
                            <lightning-menu-subheader label="Sort By" class="slds-text-align--left"></lightning-menu-subheader>
                            <template if:true={sortableFields} for:each={sortableFields} for:item="field">
                                <lightning-menu-item key={field.value} label={field.label} value={field.value}
                                    checked={field.isSorted} onclick={sort}></lightning-menu-item>
                            </template>
                        </lightning-button-menu>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </template>

     
        <div class={dynamicStyles.statefulViewClass} style={dynamicStyles.statefulHeight}>

            <template if:false={stateless}>
                <template if:true={showSpinner}>
                    <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
                </template>
            </template>
        
        <template if:true={hasBriefInfoFields}>
            <template if:true={cartItems} for:each={cartItems} for:item="ci">
                <lightning-accordion key={ci.itemNumber} allow-multiple-sections-open class="slds-box slds-m-around_small">
                    
                    <!-- Accordian will be displayed only in stateless mode -->
                    <lightning-accordion-section if:true={stateless} name={ci.itemNumber} label={ci.itemNumber}>
                        <c-nf_item-detail item={ci} stateless="true"></c-nf_item-detail>
                    </lightning-accordion-section>
                   
                    <!-- Brief Info Display area -->
                    <img if:false={stateless} height="100px" data-itemnumber={ci.itemNumber} class="thumbnail" src={ci.thumbnailLinks} onclick={openItem}>
                    <template if:true={stateless}>
                        <lightning-layout  multiple-rows class="slds-box slds-m-bottom_small">
                            <template if:true={ci.thumbnailLinks} for:each={ci.thumbnailLinks} for:item="ti">
                                <lightning-layout-item key={ti} size="2">
                                    <img src={ti}>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>    
                    </template>
                    <lightning-layout multiple-rows>
                        <template if:true={ci.briefInfo}>
                            <template if:true={ci.briefInfo.fields} for:each={ci.briefInfo.fields} for:item="field">
                                <lightning-layout-item key={field.fieldName} size={dynamicStyles.briefLayoutSize}>
                                    <lightning-layout>
                                        <lightning-layout-item size="5" class={dynamicStyles.briefLabelClass}>
                                            <label>{field.label}</label>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="7" class="slds-form-element__static">
                                            <template if:true={field.isRecordLink}>
                                                <a data-itemnumber={ci.itemNumber} onclick={openItem}>
                                                    <lightning-formatted-rich-text data-itemnumber={ci.itemNumber} value={field.value}></lightning-formatted-rich-text>
                                                </a>
                                            </template>
                                            <template if:false={field.isRecordLink}>
                                                <lightning-formatted-rich-text value={field.value}></lightning-formatted-rich-text>
                                            </template>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-layout-item>
                            </template>
                        </template>
                    </lightning-layout>
                </lightning-accordion>
            </template>
            </template>
            <template if:false={hasBriefInfoFields}>
                <div class="slds-text-align_center">
                    No Fields to display.        
                </div>
            </template>
            
            <template if:true={displayNoitems}>
                <div class="slds-text-align_center">
                    No items to display.
                </div>
            </template>
        </div>

    </lightning-card>
</template>