.THIS {
}
.THIS .slds-table--header-fixed_container:before {
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    content: '';
    display: block;
    position: relative;
    width: 100%;
}