<template>

    <div if:true={order} class="slds-theme_default">
        
        <!-- Spinner -->
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
        </template>

        <template if:false={stateless}>
            <!-- Header -->
            <div class="slds-var-p-left_medium slds-var-p-top_xx-large slds-text-body_regular">
                <lightning-button label="Your Orders" 
                                icon-name="utility:chevronleft" 
                                icon-position="left" 
                                variant="base"
                                class="nav-btn" 
                                onclick={back}
                                slot="actions"></lightning-button>
            </div>
        </template>

         <!-- Order# -->
         <div class="slds-text-heading_medium slds-var-p-left_medium slds-var-p-top_xx-large">
            Order #{order.orderNumber}
        </div>
        
         <!-- Order Date and Total -->
         <div class="slds-var-p-left_medium slds-var-p-top_xx-large">
            
            <lightning-layout multiple-rows class="white-space-pre-wrap">
                <lightning-layout-item size="6">
                    <div>
                        <span class="slds-text-heading_small">Order Date</span>
                        <div class="slds-text-heading_medium">
                            {order.orderDate}
                        </div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="6">
                    <div>
                        <span class="slds-text-heading_small">Order Total</span>
                        <div class="slds-text-heading_medium">
                            {order.orderTotal}
                        </div>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>

        <!-- Return and Tracking info -->
        <div class="slds-var-m-top_x-large" style="border: 1px solid darkgray;">
            <div class="slds-var-p-left_medium slds-var-p-top_xx-large slds-theme_shade">
                <lightning-layout class="slds-var-m-top_large slds-var-m-bottom_large white-space-pre-wrap" multiple-rows>
                    <lightning-layout-item size="2">
                        <div class="slds-text-heading_medium text-color-pink">Returned</div>
                        <br/>
                        <br/>
                        <div class="slds-text-body_small">Shipping To</div>
                        <div class="slds-text-heading_small">{order.shippingToName}</div>
                        <div class="slds-text-heading_small">{order.shippingToAddress_1}</div>
                        <!-- <div class="slds-text-heading_small">{order.shippingToAddress_2}</div> -->
                    </lightning-layout-item>
                    <lightning-layout-item size="4"></lightning-layout-item>
                    <lightning-layout-item size="6">
                        <lightning-button label="TRACK YOUR PACKAGE" class="track-Btn"
                        onclick={trackOrder}></lightning-button>
                        <br/>
                        <br/>
                        <div class="slds-text-body_small">Tracking Number</div>
                        <div class="slds-text-heading_small">{order.trackingNumber}</div>
                        <br/>
                        <div class="slds-text-body_small">Carrier</div>
                        <div class="slds-text-heading_small">{order.carrier}</div>
                        <div class="slds-text-heading_small">{order.shipmentType}</div>
                    </lightning-layout-item>
                </lightning-layout>
                <br/>
            </div>
    
            <!-- Item Details -->
            <div class="slds-var-p-left_medium slds-var-p-top_x-large slds-var-p-right_xx-large">
                <div class="slds-var-p-left_small slds-var-p-right_xx-large">
                    <lightning-layout class="slds-text-body_regular white-space-pre-wrap">
                        <lightning-layout-item size="1" large-device-size="1" medium-device-size="3" small-device-size="4">
                            <img src="https://www.victoriassecret.com/p/760x1013/tif/94/68/946864b332cb4208a1e2ac46edca3e23/S20_PK_102_222.jpg">
                        </lightning-layout-item>
    
                        <lightning-layout-item size="2" large-device-size="2" medium-device-size="3" small-device-size="4" class="slds-var-m-left_large">
                            <div class="">PINK</div>
                            <div class="slds-text-heading_small">{order.family}</div>
                            <div>26124134</div>
                            <lightning-layout multiple-rows>
                                <lightning-layout-item size="6"></lightning-layout-item>
                                <lightning-layout-item size="6">Color - (96U7)</lightning-layout-item>
                                <lightning-layout-item class="text-color-darkgray" size="6">Size</lightning-layout-item>
                                <lightning-layout-item size="6">{order.size}</lightning-layout-item>
                                <lightning-layout-item class="text-color-darkgray" size="6">Qty</lightning-layout-item>
                                <lightning-layout-item size="6">{order.qty}</lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                        <lightning-layout-item size="9" large-device-size="9" medium-device-size="6" small-device-size="4" class="slds-text-align_right">
                            <div class="slds-text-heading_medium text-color-pink">{order.price}</div>
                            <div class="text-line-through">Orig $29.95</div>
                        </lightning-layout-item>
                    </lightning-layout>
                    <br/>
                </div>
            </div>
        </div>

        <!-- Order Summary -->
        <div class="slds-var-p-left_medium slds-var-p-top_xx-large  slds-var-m-top_xx-large slds-theme_shade">
            <div class="slds-text-heading_medium">Order Summary</div>
            <lightning-layout multiple-rows class="slds-text-body_regular white-space-pre-wrap">
                
                <lightning-layout-item size="5" large-device-size="5" medium-device-size="9" small-device-size="9">
                    <div>Merchandise</div>
                    <div>Shipping & Handling</div>
                    <div>Offers & Discounts</div>
                    <div>Sales Tax</div>
                    <div><b>Order Total</b></div>
                    <div class="slds-text-heading_medium slds-var-m-top_xx-large">Payment Summary</div>
                    <div>{order.paymentType} <span if:true={order.isOnline}>{order.paymentNumber}</span></div>
                    <div class="slds-text-heading_medium text-color-pink slds-var-m-top_xx-large">Order Total</div>
                </lightning-layout-item>

                <lightning-layout-item size="1"  large-device-size="1" medium-device-size="2" small-device-size="2" class="slds-text-align_right">
                    <div>{order.merchandise}</div>
                    <div>{order.shippingHandling}</div>
                    <div class="text-color-pink">{order.offerDiscount}</div>
                    <div>{order.salesTax}</div>
                    <div><b>{order.orderTotal}</b></div>
                    <div class="slds-text-heading_medium slds-var-m-top_xx-large">&nbsp;</div>
                    <div>{order.paymentAmount}</div>
                    <div class="slds-text-heading_medium text-color-pink slds-var-m-top_xx-large">{order.orderTotal}</div>
                </lightning-layout-item>
            </lightning-layout>  

            <!-- <lightning-layout multiple-rows class="slds-var-m-top_x-large slds-text-body_regular white-space-pre-wrap">
                <lightning-layout-item size="6" large-device-size="6" medium-device-size="12" small-device-size="12">
                    <div>
                        <b>Funds will be held for your entire order and billed as each item is shipped.</b> In most cases, your order is prepared for shipment
                        immediately and cannot be changed or canceled. You may receive several shipments to complete the fullfillment of your order.
                        <br/>
                        If you have any questions, please contact us via <a>Live Chat</a>.
                    </div>
                </lightning-layout-item>
            </lightning-layout> 

            <br/> -->
            <br/>
        </div>
    </div>

</template>