<template>
    <!-- MODAL -->
    <section role="dialog" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container ModalContainer">
  
            <!-- MODAL HEADER -->
            <header class="slds-modal__header modalHeader">
                <lightning-button-icon 
                    size="large" 
                    icon-name="utility:close" 
                    variant="bare" 
                    onclick={closeRecordsFilterModal} 
                    alternative-text="Close Modal" 
                    class="slds-modal__close">
                </lightning-button-icon>                   
                <h2 class="slds-modal__title slds-hyphenate">Filter Records</h2>
           </header>
           
           <!-- MODAL BODY -->
           <div class="slds-modal__content slds-p-around_medium modalContent">
                <lightning-layout multiple-rows="true" class="Container">
  
                    <!-- TABLE HEADERS -->
                    <lightning-layout-item size="12" padding="around-small" large-device-size="1" medium-device-size="1" small-device-size="1"> </lightning-layout-item>
  
                    <lightning-layout-item size="12" padding="around-small" large-device-size="3" medium-device-size="3" small-device-size="3">
                        Field
                        <span class="required">*</span>
                    </lightning-layout-item>
  
                    <lightning-layout-item size="12" padding="around-small" large-device-size="3" medium-device-size="3" small-device-size="3">
                        Operator
                        <span class="required">*</span>
                    </lightning-layout-item>
  
                    <lightning-layout-item size="12" padding="around-small" large-device-size="4" medium-device-size="4" small-device-size="4">
                        Value
                        <span class="required">*</span>
                    </lightning-layout-item>
  
                    <lightning-layout-item size="12" padding="around-small" large-device-size="1" medium-device-size="1" small-device-size="1"></lightning-layout-item>

                    <!-- ROWS -->
                    <template for:each={conditionList} for:item="condition" for:index="index">
  
                        <lightning-layout-item key={condition.serial} size="12" padding="around-small" large-device-size="1" medium-device-size="1" small-device-size="1">
                            <div class="SerialNumber">
                                {condition.serial}
                            </div>
                        </lightning-layout-item>
  
                        <lightning-layout-item key={condition.serial}  size="12" padding="around-small" large-device-size="3" medium-device-size="3" small-device-size="3" class="Combobox">
  
                            <!-- FIELD SELECTION -->
                            <lightning-combobox 
                                name="field" 
                                variant="label-hidden" 
                                options={fieldList} 
                                value={condition.field.name}
                                data-index={index}
                                onchange={handleFieldChange} 
                                required
                                placeholder="Select a Field">
                            </lightning-combobox>
  
                        </lightning-layout-item>
  
                        <lightning-layout-item key={condition.serial}  size="12" padding="around-small" large-device-size="3" medium-device-size="3" small-device-size="3" class="Combobox">
  
                            <!-- OPERATOR SELECTION -->
                            <template if:true={condition.field.isBoolean}>
                                <lightning-combobox 
                                    name="operator" 
                                    variant="label-hidden" 
                                    disabled={condition.notHasField} 
                                    options={booleanOperators} 
                                    value={condition.operator} 
                                    data-index={index}
                                    required
                                    onchange={handleOperatorChange} 
                                    placeholder="Select an operator">
                                </lightning-combobox>
                            </template>
                            <template if:false={condition.field.isBoolean}>
                                <lightning-combobox 
                                    name="operator" 
                                    variant="label-hidden" 
                                    disabled={condition.notHasField} 
                                    options={textOperators} 
                                    value={condition.operator} 
                                    data-index={index}
                                    required
                                    onchange={handleOperatorChange} 
                                    placeholder="Select an operator">
                                </lightning-combobox>
                            </template>
  
                        </lightning-layout-item>
  
                        <lightning-layout-item key={condition.serial}  size="12" padding="around-small" large-device-size="4" medium-device-size="4" small-device-size="4" class="Value">
                            <!-- VALUE SELECTION -->
                            <template if:true={condition.field.isStdInput}>
                                <lightning-record-edit-form object-api-name={selectedObject}>
                                    <lightning-input-field 
                                        variant="label-hidden" 
                                        disabled={condition.notHasOperator} 
                                        value={condition.field.value}
                                        data-index={index} 
                                        required
                                        onchange={handleValueChange} 
                                        field-name={condition.field.name}>
                                    </lightning-input-field>
                                </lightning-record-edit-form>
                            </template>
                            <template if:false={condition.field.isStdInput}>
                                <template if:true={condition.field.isBoolean}>
                                    <lightning-combobox 
                                        name="field" 
                                        variant="label-hidden" 
                                        options={booleanOptions} 
                                        disabled={condition.notHasOperator}
                                        data-index={index}
                                        required
                                        onchange={handleValueChange} 
                                        value={condition.field.value}
                                        placeholder="Select a value">
                                    </lightning-combobox>
                                </template>
                                <template if:false={condition.field.isBoolean}>
                                    <lightning-input
                                        type={condition.field.type}
                                        variant="label-hidden"
                                        onchange={handleValueChange} 
                                        data-index={index} 
                                        required
                                        disabled={condition.notHasOperator} 
                                        value={condition.field.value}>
                                    </lightning-input>
                                </template>
                            </template>
  
                        </lightning-layout-item>
  
                        <lightning-layout-item key={condition.serial}  size="12" padding="around-small" large-device-size="1" medium-device-size="1" small-device-size="1" class="RemoveButton">
                            
                            <!-- REMOVE BUTTON -->
                            <template if:false={condition.isFirst}>
                                <lightning-button-icon 
                                    size="medium" 
                                    data-index={index} 
                                    icon-name="action:remove" 
                                    onclick={removeCondition} 
                                    variant="bare" 
                                    alternative-text="Remove Criteria">
                                </lightning-button-icon>
                            </template>
                       
                        </lightning-layout-item>
                    
                    </template>

                    <!-- ADD ROW BUTTON     -->
                    <div class="addRowBlock">
                            <a class="addRow" onclick={addCondition}>
                                <lightning-button-icon size="medium" icon-name="utility:add" variant="bare" alternative-text="Close window."></lightning-button-icon>
                                <span >Add Row</span>
                            </a>
                    </div>
                </lightning-layout>
                
                <!-- CONDITIONS -->
                <div class="conditions">
                    <lightning-radio-group 
                        name="Conditions"
                        label="Conditions"
                        options={conditions}
                        value={selectedLogicalOperator}
                        type="radio"
                        onchange={handleConditionChange}
                        required>
                    </lightning-radio-group>
                </div>

                <!-- CUSTOM LOGIC BOX -->
                <template if:true={isCustomLogic}>
                    <div class="conditionLogic">
                        <span>Logic</span>
                        <span class="required">*</span>
                        <lightning-helptext class="helptext" content={helpText}></lightning-helptext>
                    </div>
                    <div class="conditionboxDiv">
                        <lightning-input name="input1" value={customLogic} onchange={handleCustomLogicChange} label=""></lightning-input>
                    </div>
                </template>
           </div>

           <!-- FOOTER -->
           <footer class="slds-modal__footer" style="text-align: center;">
                <div>
                    <lightning-button label="Save" onclick={save} ></lightning-button>
                    <lightning-button label="Apply Filter" onclick={applyFilter} ></lightning-button>
                    <lightning-button label="Remove All Filter" onclick={removeFilter} ></lightning-button>
                    <lightning-button label="Cancel" onclick={closeRecordsFilterModal} ></lightning-button>
                </div>
           </footer>
        </div>
     </section>
     <div class="slds-backdrop slds-backdrop_open"></div>
</template>