.SerialNumber{
    margin: 1px 0;
    line-height: 1.875rem;
    text-align: center;
    background-color: rgb(0, 112, 210);
    border: none;
    border-radius: .25rem;
    color: rgb(255, 255, 255);
    font-family: 'Salesforce Sans',Arial,sans-serif;
    margin-top: -1rem;
}

.Combobox{
    margin-top: -1rem;
}

.RemoveButton{
    margin-top: -0.5rem;
}

.Container{
    margin-bottom: 1.5rem;
    border: 1px solid #006eb3;
    border-radius: .25rem;
    /* background-color: rgb(242, 242, 243); */
}

.addRowBlock{
    margin: .5rem;
    font-family: 'Salesforce Sans',Arial,sans-serif;
}

.addRow{
    color: rgb(107, 109, 112);
    font-size: .875rem;
    text-decoration: none;
    user-select: none;
}

.modalContent{
    /* background-color: rgb(245, 245, 243); */
    height: inherit;
}

.modalHeader{
    /* background-color: rgb(245, 245, 243); */
}

.conditions{
    margin-bottom: 0.5rem;
}

.conditionLogic{

}

.slds-form-element__icon{
    padding-top: 2px;
    margin-left: 1%;
}

.conditionboxDiv{
    width: 18rem;
}

.Value{
    margin-top:-1rem;
}

.ModalContainer{
    max-width: 65% !important;
}

lightning-helptext.helptext > div.slds-form-element__icon{
    margin-left: 1px;
    padding-top:1px;
}