<template>
    <div class="Container slds-large-size_12-of-12">
        
        <!-- Spinner -->
        <template if:true={showSpinner}>
            <lightning-spinner variant="brand" alternative-text="Loading" size="medium"></lightning-spinner>
        </template>

        <!-- Header Section -->
        <lightning-layout multiple-rows="true">
            <lightning-layout-item size="12" padding="around-small" large-device-size="2" medium-device-size="6" small-device-size="12">
                <lightning-combobox
                    name="Select Object"
                    label="Select Object"
                    value={selectedObject}
                    placeholder="Select Object"
                    options={objectList}
                    onchange={handleObjectChange} >
                </lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small" large-device-size="2" medium-device-size="6" small-device-size="12" class="ButtonGroup">
                <lightning-button-group>
                    <lightning-button label="Select Fields" disabled={hasNoObject} title="Select Fields" onclick={openSelectFieldsModal}></lightning-button>
                    <lightning-button label="Process" disabled={hasNoColumns} title="Process" onclick={process}></lightning-button>
                    <lightning-button-menu alternative-text="Show menu" variant="border-filled" onclick={updateLtngMenuItemStyle}>
                        <lightning-menu-item label="Filter Records" disabled={hasNoColumns} value="Filter Records" onclick={openRecordsFilterModal}></lightning-menu-item>
                        <lightning-menu-item label="New Record" disabled={hasNoColumns} data-mode="Create" onclick={openRecordEditModal}></lightning-menu-item>
                        <lightning-menu-item label="Delete Selected" disabled={hasNoSelectedRecords} value="Delete Selected" onclick={deleteSelected}></lightning-menu-item>
                        <lightning-menu-item label="Download CSV" disabled={hasNoSelectedRecords} value="Download CSV" onclick={downloadCsv}></lightning-menu-item>
                        
                            <lightning-menu-item label="Upload CSV" disabled={hasNoObject} value="Upload CSV" onclick={openUploadCsvBox}></lightning-menu-item>
                            <input id="fileInput" type="file" style="display:none;" accept=".csv" onchange={uploadCsv}/>
                        
                    <lightning-menu-item label="Filter Schema" value="Filter Schema" onclick={openSchemaFilterModal}></lightning-menu-item>
                        <lightning-menu-item label="Reset" value="Reset" onclick={init}></lightning-menu-item>
                    </lightning-button-menu>
                </lightning-button-group>
            </lightning-layout-item>
            <template if:false={hasNoRecords}>
                <template if:false={isLazyLoad}>
                    <lightning-layout-item size="12" padding="around-small" large-device-size="2" medium-device-size="6" small-device-size="12" class="ButtonGroup NavigativeButton">
                        <lightning-button-group>
                            <lightning-button label="&laquo;" disabled={notHasPrevious} onclick={navigate} name="first" title="First"></lightning-button>
                            <lightning-button label="&#8249;" disabled={notHasPrevious} onclick={navigate} name="previous" title="Previous"></lightning-button>
                        </lightning-button-group>
                        <lightning-button-group>
                            <lightning-button label="&#8250;" disabled={notHasNext} onclick={navigate} name="next" title="Next"></lightning-button>
                            <lightning-button label="&raquo;" disabled={notHasNext} onclick={navigate} name="last" title="Last"></lightning-button>
                        </lightning-button-group>
                    </lightning-layout-item>
                </template>
                <template if:true={isLazyLoad}>
                    <lightning-layout-item size="12" padding="around-small" large-device-size="3" medium-device-size="6" small-device-size="12"></lightning-layout-item>
                    <lightning-layout-item size="12" padding="around-small" large-device-size="1" medium-device-size="6" small-device-size="12">
                        <lightning-input type="number" label="Records" disabled value={lazyLoadRecordsSize}></lightning-input>
                    </lightning-layout-item>
                </template>
                <lightning-layout-item size="12" padding="around-small" large-device-size="1" medium-device-size="6" small-device-size="12">
                    <lightning-input type="number" label="Total Records" disabled value={totalRecords}></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="12" padding="around-small" large-device-size="1" medium-device-size="6" small-device-size="12">
                    <lightning-input type="number" label="Selected" disabled value={selectedCount}></lightning-input>
                </lightning-layout-item>
                <template if:false={isLazyLoad}>
                    <lightning-layout-item size="12" padding="around-small" large-device-size="1" medium-device-size="6" small-device-size="12">
                        <lightning-combobox
                                name="Page Size"
                                label="Page Size"
                                value={pageSize}
                                placeholder="Select Page Size"
                                disabled={hasNoRecords}
                                options={availablePageSizes}
                                onchange={handlePageSizeChange} ></lightning-combobox>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" padding="around-small" large-device-size="1" medium-device-size="6" small-device-size="12">
                        <lightning-combobox
                                name="Page Number"
                                label="Page Number"
                                value={pageNumber}
                                disabled={hasNoRecords}
                                options={availablePageNumbers}
                                onchange={handlePageNumberChange} ></lightning-combobox>
                    </lightning-layout-item>
                </template>
            </template>
            <template if:true={hasNoRecords}>
                <lightning-layout-item size="12" padding="around-small" large-device-size="6" medium-device-size="6" small-device-size="12"></lightning-layout-item>
            </template>
            <lightning-layout-item size="12" padding="around-small" large-device-size="2" medium-device-size="6" small-device-size="12">
                <lightning-combobox
                name="Pagination Mode"
                label="Pagination Mode"
                value={paginationMode}
                placeholder="Select Pagination Mode"
                options={paginationModes}
                onchange={handleModeChange} ></lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>

        <!-- Table Section -->
        <template if:false={hasNoColumns}>
            <div class="slds-grid listDisplays safari-workaround-anchor" >
                <div class="slds-grid listViewContainer safari-workaround" style={listViewContainerStyle}>
                    <div class="slds-col slds-no-space forceListViewManagerPrimaryDisplayManager">
                        <div class="forceListViewManagerGrid">
                            <div class="listViewContent slds-table--header-fixed_container">
                                <div class="uiScroller scroller-wrapper scroll-bidirectional native" onscroll={handleOnScroll}>
                                    <div class="scroller actionBarPlugin">
                                        <div class="slds-table--edit_container slds-is-relative  inlineEdit--enabled keyboardMode--active inlineEditGrid forceInlineEditGrid">
                                            <div class="keyboardGridExitBefore"></div>
                                            <div class="uiVirtualDataTable indicator" style="height: 31px;"><span class="slds-resizable__divider" style="height: 254.2px;"></span></div>
                                            <table class="slds-table forceRecordLayout slds-table--header-fixed slds-table--edit slds-table--bordered resizable-cols slds-table--resizable-cols uiVirtualDataTable">
                                                <thead>
                                                    <tr>
                                                        <th class=" selectionColumnHeader" scope="col" style="width: 5rem;">
                                                            <div class="slds-cell-fixed slds-align_absolute-center slds-th__action" style={checkboxHeaderStyle}>
                                                                <span class="checkbox-container uiInput forceVirtualCheckbox uiInput--default">
                                                                    <label class="slds-checkbox">
                                                                        <input class="keyboardMode--trigger" type="checkbox" disabled={hasNoRecords} checked={masterCheckBoxState} onchange={checkUncheckAll}></input>
                                                                        <span class="slds-checkbox--faux"></span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </th>
                                                        <th class=" selectionColumnHeader" scope="col" style="width: 12rem;"></th>
                                                        <template for:each={columns} for:item="col">
                                                            <th key={col.value} class="initialSortAsc sortable  slds-is-sortable  slds-is-resizable" scope="col" title={col.label} style="width: 20rem;">
                                                                <div class="slds-cell-fixed" style={headerStyle}>
                                                                    <div class="toggle slds-th__action" style="display: block;">
                                                                        <a onclick={handleSort} class="SortableHeader" name={col.value}>
                                                                            {col.label} 
                                                                            <template if:true={col.isSorted}>
                                                                                <template if:true={isAsc}>
                                                                                    &nbsp; &#x21E7;
                                                                                </template>
                                                                                <template if:false={isAsc}>
                                                                                    &nbsp; &#x21E9;
                                                                                </template>
                                                                            </template>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </template>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <template if:false={hasNoRecords} for:each={data} for:item="row">
                                                        <tr key={row.recordId} data-id={row.recordId}>
                                                            <td class="slds-cell-edit cellContainer TableData">
                                                                <lightning-input type="checkbox" label="" name="input1" data-id={row.recordId} checked={row.isSelected} onchange={checkUncheckSingle}></lightning-input>
                                                            </td>
                                                            <td class="slds-cell-edit cellContainer TableData">
                                                                <a data-id={row.recordId} onclick={deleteRecord}>Del</a> |
                                                                <a data-id={row.recordId} data-mode="Edit" onclick={openRecordEditModal}>Edit</a> |
                                                                <a data-id={row.recordId} onclick={openAttachFileModal}>Attach File</a>
                                                            </td>
                                                            <template for:each={row.cells} for:item="cell">
                                                                <td key={cell.fieldName} class="slds-cell-edit cellContainer TableData">
                                                                    <template if:true={cell.isNameField}>
                                                                        <a href={cell.recordUrl} target="_blank">{cell.fieldValue}</a>
                                                                    </template>
                                                                    <template if:true={cell.isReference}>
                                                                        <a href={cell.referenceValue} target="_blank">{cell.relationshipName}</a>
                                                                    </template>
                                                                    <template if:true={cell.isUrl}>
                                                                        <a href={cell.fieldValue} target="_blank">{cell.fieldValue}</a>
                                                                    </template>
                                                                    <template if:true={cell.isText}>
                                                                        {cell.fieldValue}
                                                                    </template>
                                                                </td>
                                                            </template>
                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template if:true={hasNoColumns}>
            <div class="NoRecords">
                No Records!
            </div>
        </template>

    </div>

    <!-- SelectFieldsModal -->
    <template if:true={showFieldsModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
               <header class="slds-modal__header">
                     <lightning-button-icon 
                        size="large" 
                        icon-name="utility:close" 
                        variant="bare" 
                        onclick={closeSelectFieldsModal} 
                        alternative-text="Close window." 
                        class="slds-modal__close slds-button_icon-inverse"></lightning-button-icon>
                        
                  <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Select Fields</h2>
               </header>
               <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="SelectFields">
                        <lightning-dual-listbox name="Select Fields"
                        label="Select Fields"
                        source-label="Available"
                        selected-label="Selected"
                        field-level-help="Select Fields"
                        options={fieldList}
                        value={selectedFields}
                        min="1"
                        onchange={handleFieldsChange}></lightning-dual-listbox>
                    </div>
               </div>
               <footer class="slds-modal__footer" style="text-align: center;">
                    <div>
                        <lightning-button label="Add All" onclick={addAllFields} ></lightning-button>
                        <lightning-button label="Remove All" onclick={removeAllFields} ></lightning-button>
                        <lightning-button label="Done" onclick={closeSelectFieldsModal} ></lightning-button>
                    </div>
               </footer>
            </div>
         </section>
         <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <!-- Create/Edit record modal -->
    <template if:true={showRecordEditFormModal}>
        <section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
               <header class="slds-modal__header">
                     <lightning-button-icon 
                        size="large" 
                        icon-name="utility:close" 
                        variant="bare" 
                        onclick={closeRecordEditModal} 
                        alternative-text="Close window." 
                        class="slds-modal__close slds-button_icon-inverse"></lightning-button-icon>
                        
                  <h2 class="slds-modal__title slds-hyphenate">{editFormLabel}</h2>
               </header>
               <div class="slds-modal__content slds-p-around_medium">
                    <lightning-record-edit-form object-api-name={selectedObject} record-id={recordIdOfCurrentRecord} layout-type="Full" onsuccess={handleRecordEditSuccess}>
                        <lightning-messages></lightning-messages>
                        <template for:each={editFormFields} for:item="field">
                            <lightning-input-field key={field} field-name={field}></lightning-input-field>
                        </template>
                        <div style="text-align: center;">
                            <lightning-button type="submit" name="save" label="Save"> </lightning-button>
                            <lightning-button label="Cancel" name="cancel" onclick={closeRecordEditModal} ></lightning-button>
                        </div>
                    </lightning-record-edit-form>
               </div>
            </div>
         </section>
         <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <!-- Attach File Modal -->
    <template if:true={showAttachFileModal}>
        <section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container AttachFileModal">
                <header class="slds-modal__header">
                    <lightning-button-icon 
                       size="large" 
                       icon-name="utility:close" 
                       variant="bare" 
                       onclick={closeAttachFileModal} 
                       alternative-text="Close window." 
                       class="slds-modal__close slds-button_icon-inverse"></lightning-button-icon>
                       
                 <h2 class="slds-modal__title slds-hyphenate">Attach File</h2>
              </header>
               <div class="slds-modal__content slds-p-around_medium">
                    <lightning-file-upload
                            label=""
                            name="fileUploader"
                            record-id={recordIdOfCurrentRecord}
                            onuploadfinished={closeAttachFileModal}
                            multiple>
                    </lightning-file-upload>
               </div>
               <footer class="slds-modal__footer" style="text-align: center;">
                <div>
                    <lightning-button label="Cancel" onclick={closeAttachFileModal} ></lightning-button>
                </div>
           </footer>
            </div>
         </section>
         <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <!-- SchemaFilterModal -->
    <template if:true={showSchemaFilterModal}>
        <section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
               <header class="slds-modal__header">
                     <lightning-button-icon 
                        size="large" 
                        icon-name="utility:close" 
                        variant="bare" 
                        onclick={closeSchemaFilterModal} 
                        alternative-text="Close window." 
                        class="slds-modal__close slds-button_icon-inverse"></lightning-button-icon>
                        
                  <h2 class="slds-modal__title slds-hyphenate">Schema Filter</h2>
               </header>
               <div class="slds-modal__content slds-p-around_medium">
                <lightning-layout multiple-rows="true">
                    <!-- For Object Schema -->
                    <lightning-layout-item size="12" padding="around-small" large-device-size="6" medium-device-size="12" small-device-size="12">
                        <lightning-checkbox-group name="Checkbox Group"
                              label="Object Filters"
                              options={objectFilteroptions}
                              value={objectFilterValue}
                              onchange={handleObjectFilterChange}>
                        </lightning-checkbox-group>
                    </lightning-layout-item>
                    <!-- For Field Schema -->
                    <lightning-layout-item size="12" padding="around-small" large-device-size="6" medium-device-size="12" small-device-size="12">
                        <lightning-checkbox-group name="Checkbox Group"
                            label="Field Filters"
                            disabled={hasNoObject}
                            options={fieldFilteroptions}
                            value={fieldFilterValue}
                            onchange={handleFieldFilterChange}>
                        </lightning-checkbox-group>
                    </lightning-layout-item>
                    
                    <lightning-layout-item size="12" padding="around-small" large-device-size="6" medium-device-size="12" small-device-size="12">

                    </lightning-layout-item>
                </lightning-layout>
               </div>
               <footer class="slds-modal__footer" style="text-align: center;">
                    <div>
                        <lightning-button label="Apply Object Filter" onclick={applyObjectFilter} ></lightning-button>
                        <lightning-button label="Apply Field Filter" disabled={hasNoObject} onclick={applyFieldFilter} ></lightning-button>
                        <lightning-button label="Cancel" onclick={closeSchemaFilterModal} ></lightning-button>
                    </div>
               </footer>
            </div>
         </section>
         <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={showRecordsFilterModal}>
        <c-lwc-filter-records 
            selected-object={selectedObject} 
            field-list={columns}
            filter-record-value={filterRecordValue}
            oncancel={closeRecordsFilterModal}
            onapply={applyRecordsFilter}
            onsave={saveRecordsFilter}
            onremove={removeRecordsFilter}>
        </c-lwc-filter-records>
    </template>
</template>