.Container{
    background-color: white;
    height: 100%;
}

.ButtonGroup{
    margin-top: 1.4%;
    text-align: center;
}

.FooterText{
    margin-top: 2%;
    text-align: center;
}

.TableData{
    padding-left: 2rem;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.NoRecords{
    text-align: center;
    vertical-align: center;
    vertical-align: middle;
    font-size: 5rem;
    margin-top: 10rem;
    font-weight: 600;
    font-style: oblique;
    font-variant: petite-caps;
}

.NavigativeButton{
    font-size: 150%;
    font-family: cursive;
    font-weight: 600;
    color: red;
}

.SortableHeader{
    text-decoration: none;
    color: inherit !important;
    display: block;
    user-select: none;
}

.ButtonMenuItem{
    width: 100% !important;
}

.AttachFileModal{
    width: 20% !important;
    text-align: center;
}

.SelectedRow{
    background-color: lightblue;
}