<apex:page controller="CheckboxController">
    <apex:form >
    	<apex:pageBlock >
    	<apex:pageBlockTable value="{!wrapperList}" var="w">
            <apex:column >
                <apex:facet name="header">
            		<apex:inputCheckbox styleClass="MasterCheckBox" onclick="checkUncheckAll(this);" value="{!mastercheckbox}"/>
            	</apex:facet>
                <apex:inputCheckbox styleClass="ChildCheckBox" onclick="updateMasterCheck(this);" value="{!w.isSelected}" />
            </apex:column>
        	<apex:column value="{!w.record.Id}"/>
             <apex:column value="{!w.record.NAME}"/>
            <apex:column value="{!w.record.TYPE}"/>
            <apex:column value="{!w.record.Industry}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
    </apex:form>
    
    <script>
    	//will call from master check box
    	function checkUncheckAll(mcb){
            var childElements = document.getElementsByClassName('ChildCheckBox');
			for(var i=0; i <= childElements.length; i++){
                if(childElements[i]){
                    childElements[i].checked = mcb.checked;
                }
            }        
        }
    
    	//will call from child check box
    	function updateMasterCheck(cb){
			var masterElement = document.getElementsByClassName('MasterCheckBox')[0];
            var childElements = document.getElementsByClassName('ChildCheckBox');
            var flag = true;
            for(var i=0; i <= childElements.length; i++){
                if(childElements[i] && childElements[i].checked == false){
                        flag = false;
                        break;
                }
            }  
            masterElement.checked = flag;
        }
    </script>
    
    <style>
    	.MasterCheckBox{}
        .ChildCheckBox{}
    </style>
</apex:page>