<!-- --------------------------------------------- TYPEAHEAD --------------------------------------------------------- -->
<apex:page sidebar="false">
    <apex:pageBlock title="TYPEAHEAD">
        
        <!-- TYPEAHEAD COMPONENT -->
            <apex:pageBlockSection columns="1" >
                <c:Typeahead object="Account" fields="ID, Name" idx="1" />
                <c:Typeahead object="Contact" fields="ID, Name" idx="2"/>
                <c:Typeahead object="Opportunity" fields="ID, Name" idx="3"/>
                <c:Typeahead object="Lead" fields="ID, Name" idx="4" />
                <c:Typeahead object="Case" fields="Id, CaseNumber" idx="5"/>
            </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>