.THIS.container{
    background-color: #6e2910;
    height: 750px;
    width: 100%;
}

.THIS .inner-container{
    height: 80%;
    width: 90%;
    background-color: white;
    margin-top: 3%;
    margin-top: 2%; 
    margin-left: 5%;
    margin-left: 5%;
}

.THIS .innermost-container{
    height: 98%;
    width: 98%;
    /* background-color: gray; */
    margin: 1%;
}

.THIS .logo{
    width: 98%;
    height: 44%;
    margin: 1%;
    background-color: white;
}

.THIS .card-details-container{
    display: flex;
    width: 100%;
    margin-top: 1%;
}

.THIS .btn{
    width: 100%;
    background-color: #75abd1;
    border: none;
}

.THIS .add-to-cart-btn{
    width:100%; 
    margin-top:13%;
    color: green;
}

.THIS .remove-from-cart-btn{
    width:100%; 
    margin-top:13%;
}