<template>

    <!-- Spinner For Stateless view -->
    <template if:true={stateless}>
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
        </template>
    </template>

    <!-- Stateless -->
    <div if:true={stateless} class="slds-theme_default slds-var-p-top_large">

        <!-- Header -->
        <lightning-layout vertical-align="center" multiple-rows>
            <lightning-layout-item size="12">
                <lightning-formatted-text value="Order History"
                    class="slds-var-p-around_medium slds-text-heading_medium"></lightning-formatted-text>
            </lightning-layout-item>
        </lightning-layout>

        <!-- Search Options -->
        <lightning-layout vertical-align="center" multiple-rows>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="text" label="Email" value={emailId} data-input="emailId" onchange={handleInputValue}
                    disabled={orderIdSelected}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small" style="padding-top: 2rem;">
                <input type="radio" value="Email" checked={emailSelected} onclick={selectFilter} />
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="around-small">
                <lightning-input type="text" label="Order #" value={orderId} data-input="orderId" onchange={handleInputValue}
                    disabled={emailSelected}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small" style="padding-top: 2rem;">
                <input type="radio" value="OrderId" checked={orderIdSelected} onclick={selectFilter} />
            </lightning-layout-item>

            <lightning-layout-item size="2" padding="around-small" style="padding-top: 2rem;">
                <lightning-button class="search-tool-button" label="Go" disabled={disableGoButton} variant="neutral" onclick={searchOrders}>
                </lightning-button>
            </lightning-layout-item>

        </lightning-layout>
    </div>

    <!-- Combined Markup -->
    <lightning-card variant={dynamicStyles.ltngCardVariant} icon-name={dynamicStyles.ltngCardIconName}>

        <div if:false={stateless} slot="title"><b><a class="realted-list-title-link">Order History </a>({recordCount})</b></div>

        <template if:true={displaySearchBar}>
            <!-- Search and Sort Section Common-->
            <lightning-layout class="slds-var-m-left_medium slds-var-m-top_x-large slds-var-m-bottom_x-large slds-p-right--small" multiple-rows>
                <lightning-layout-item size="12">
                    <lightning-input onchange={filterOrders} value={filterText} variant="label-hidden"
                        placeholder="Search Order" type="search"></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6">
                    <div class="slds-var-m-left_x-small buttonMenuIconShift">
                        <lightning-button-menu label={filterLabel} alternative-text="Show menu" icon-name="utility:filter" icon-size="large" menu-alignment="left">
                            <lightning-menu-subheader label="Filter By"></lightning-menu-subheader>
                            <template if:true={filterOptions} for:each={filterOptions} for:item="field">
                                <lightning-menu-item key={field.value} label={field.label} value={field.value}
                                    checked={field.isFiltered} onclick={applyFilter}></lightning-menu-item>
                            </template>
                        </lightning-button-menu>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="6" class="slds-text-align--right">
                    <div class="slds-var-m-left_x-small buttonMenuIconShift">
                        <lightning-button-menu label={sortLabel} alternative-text="Show menu" icon-name={sortIcon} icon-size="large" menu-alignment="right">
                            <lightning-menu-subheader label="Sort By" class="slds-text-align--left"></lightning-menu-subheader>
                            <template if:true={sortableFields} for:each={sortableFields} for:item="field">
                                <lightning-menu-item key={field.value} label={field.label} value={field.value}
                                    checked={field.isSorted} onclick={sort}></lightning-menu-item>
                            </template>
                        </lightning-button-menu>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </template>

     
        <div class={dynamicStyles.statefulViewClass} style={dynamicStyles.statefulHeight}>

            <template if:false={stateless}>
                <template if:true={showSpinner}>
                    <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
                </template>
            </template>
        
        <template if:true={hasBriefInfoFields}>
            <template if:true={orderHistoryRecords} for:each={orderHistoryRecords} for:item="oh">
                <lightning-accordion key={oh.orderNumber} allow-multiple-sections-open class="slds-box slds-m-around_small">
                    
                    <!-- Accordian will be displayed only in stateless mode -->
                    <lightning-accordion-section if:true={stateless} name={oh.orderNumber} label={oh.orderNumber}>
                        <c-nf_order-detail order={oh} stateless=true></c-nf_order-detail>
                    </lightning-accordion-section>
                   
                    <lightning-layout multiple-rows>
                        <lightning-layout-item size={dynamicStyles.briefLayoutSize}>
                            <lightning-layout>
                                <lightning-layout-item size="5" class={dynamicStyles.cccTrackingClass}>
                                    <a if:true={oh.cccTracking} href={oh.cccTracking} target="_blank">CCC Tracking</a>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-layout-item>
                    </lightning-layout>
                    <!-- Brief Info Display area -->
                    <lightning-layout multiple-rows>
                            <template if:true={oh.briefInfo}>
                                <template if:true={oh.briefInfo.fields} for:each={oh.briefInfo.fields} for:item="field">
                                    <lightning-layout-item key={field.fieldName} size={dynamicStyles.briefLayoutSize}>
                                        <lightning-layout>
                                            <lightning-layout-item size="5" class={dynamicStyles.briefLabelClass}>
                                                <label>{field.label}</label>
                                            </lightning-layout-item>
                                            <lightning-layout-item size={dynamicStyles.briefValueSize} class="slds-form-element__static">
                                                <template if:true={field.isRecordLink}>
                                                    <a data-ordernumber={oh.orderNumber} onclick={openOrder}>
                                                        <lightning-formatted-rich-text data-ordernumber={oh.orderNumber} value={field.value}></lightning-formatted-rich-text>
                                                    </a>
                                                </template>
                                                <template if:false={field.isRecordLink}>
                                                    <lightning-formatted-rich-text value={field.value}></lightning-formatted-rich-text>
                                                </template>
                                            </lightning-layout-item>
                                        </lightning-layout>
                                    </lightning-layout-item>
                                </template>
                            </template>
                    </lightning-layout>
                </lightning-accordion>
            </template>
        </template>
        <template if:false={hasBriefInfoFields}>
            <div class="slds-text-align_center">
                No Fields to display.        
            </div>
        </template>
            
            <template if:true={displayNoOrders}>
                <div class="slds-text-align_center">
                    No items to display.
                </div>
            </template>
        </div>

    </lightning-card>
</template>